<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/task"
    xmlns:ts="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

 <mvc:annotation-driven/>
<context:component-scan base-package="com.wsiiz.controller" />

 <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
  <property name="url" value="jdbc:mysql://localhost:3306/Users"/>
  <property name="username" value="ggladko97"/>
  <property name="password" value="123"/>
  <property name="validationQuery" value="SELECT 1"/>
 </bean>


 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
  <property name="dataSource" ref="dataSource"/>
  <property name="packagesToScan" value="com.wsiiz.domain"/>
  <property name="hibernateProperties">
   <props>
    <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    <prop key="hibernate.show_sql">true</prop>
    <prop key="hibernate.hbm2ddl.auto">update</prop>
    <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/Users</prop>
    <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
   </props>
  </property>
  <property name="mappingLocations">
   <list>
    <value>/WEB-INF/pers.hbm.xml</value>
   </list>
  </property>

 </bean>

 <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
  <property name="sessionFactory" ref="sessionFactory"/>
 </bean>

 <ts:annotation-driven transaction-manager="transactionManager"/>

  <bean id="userDao" class="com.wsiiz.dao.UserDaoImpl">
   <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
 <bean id="teamDao" class="com.wsiiz.dao.TeamDaoImpl">
  <property name="sessionFactory" ref="sessionFactory"/>
 </bean>
 <bean id="competitionDao" class="com.wsiiz.dao.CompetitionDaoImpl">
  <property name="sessionFactory" ref="sessionFactory"/>
 </bean>

 <bean id="teamService" class="com.wsiiz.service.FootballExternalServiceImpl">
  <property name="teamDao" ref="teamDao"></property>
 </bean>

</beans>

